
<body>
    <%- include('partials/header'); -%>
    <div class="container">
        <div class="main">
            <div class="header">
                <div class="date">
                    Friday,April 1
                </div>
            </div>
            <div class="all-day" id="8">
                 
            </div>
            <div class="am">
                <div class="heading-am">
                    <h1>AM</h1>                    
                </div>
                <div class="time-divs-am">
                    <div class="_9-am main-am">
                        <h2>9:00</h2>
                        <div class="items" id="9"></div>
                    </div>
                    <div class="9:30-am sub-am">
                        9:30
                        <div class="items" id="9.5"></div>
                    </div>
                    <div class="_10-am main-am">
                        <h2>10:00</h2>
                        <div class="items" id="10"></div>
                    </div>
                    <div class="_10:30-am sub-am">
                        10:30
                        <div class="items-s" id="10.5"></div>
                    </div>
                    <div class="_11-am main-am">
                        <h2>11:00</h2>
                        <div class="items" id="11"></div>
                    </div>
                    <div class="_11:30am sub-am">
                        11:30
                        <div class="items-s" id="11.5"></div>
                    </div>
                </div>
            </div>
            <div class="pm">
                <div class="heading-pm">
                    <h1>PM</h1>
                </div>
                <div class="time-divs-pm">
                    <div class="_12-pm main-pm">
                        <h2>12:00</h2>
                        <div class="items" id="12"></div>
                    </div>
                    <div class="_12:30am sub-pm">
                        12:30
                        <div class="items-s" id="12.5"></div>
                    </div>
                    <div class="1-pm main-pm">
                        <h2>1:00</h2>
                        <div class="items" id="13"></div>
                    </div>
                    <div class="_1:30-pm sub-pm">
                        1:30
                        <div class="items-s" id="13.5"></div>
                    </div>
                    <div class="2-pm main-pm">
                        <h2>2:00</h2>
                        <div class="items" id="14"></div>
                    </div>
                    <div class="_2:30-pm sub-pm">
                        2:30
                        <div class="items-s" id="14.5"></div>
                    </div>
                    <div class="3-pm main-pm">
                        <h2>3:00</h2>
                        <div class="items" id="15"></div>
                    </div>
                    <div class="_3:30-pm sub-pm">
                        3:30
                        <div class="items-s" id="15.5"></div>
                    </div>
                    <div class="4-pm main-pm">
                        <h2>4:00</h2>
                        <div class="items" id="16"></div>
                    </div>
                    <div class="_4:30-pm sub-pm">
                        4:30
                        <div class="items-s" id="16.5"></div>
                    </div>
                    <div class="5-pm main-pm">
                        <h2>5:00</h2>
                        <div class="items" id="17"></div>
                    </div>
                    <div class="_5:30-pmm sub-pm">
                        5:30
                        <div class="items-s" id="17.5"></div>
                    </div>
                    <div class="6-pm main-pm">
                        <h2>6:00</h2>
                        <div class="items" id="18"></div>
                    </div>
                    <div class="_6:30-pm sub-pm">
                        6:30
                        <div class="items-s" id="18.5"></div>
                    </div>
                    <div class="7-pm main-pm">
                        <h2>7:00</h2>
                        <div class="items" id="19"></div>
                    </div>
                    <div class="_7:30-pm sub-pm">
                        7:30
                        <div class="items-s" id="19.5"></div>
                    </div>
                    <div class="8-pm main-pm">
                        <h2>8:00</h2>
                        <div class="items" id="20"></div>
                    </div>
                    <div class="_8:30-pm sub-pm">
                        8:30
                        <div class="items-s" id="20.5"></div>
                    </div>
                    <div class = "main-pm"></div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>
    <script type="module" src="/function.js"></script>
</body>
</html>