<%- include('partials/header'); -%>

<header>
  <div class="clock">
    <img src="/clock.png" alt="" />
  </div>
  <div class="headings">
    <h2>My Events</h2>
    <h3>Every task organized</h3>
    <a href="/events" class="btn">View Events</a>
  </div>
</header>

<%- include('partials/footer'); -%>
